.velocity-slider {
    width: 70vw;
    height: 50px;
}
.velocity-slider > input[type="range"] {
    -webkit-appearance:none;
    appearance: none;
    overflow:hidden;
    outline: none;
    width: 100%;
    height: 100%;
    background-color:#80201B;
}

/*Can't use comma to separate these selectors, unfortunately, so gotta repeat*/

.velocity-slider > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance: none;
    overflow:hidden;
    outline: none;
    width: calc(.05 * 70vw);
    height: 50px;

    background-color: #CC332B;
    border: 0px;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.velocity-slider > input[type="range"]::-moz-range-thumb {
    -webkit-appearance:none;
    appearance: none;
    overflow:hidden;
    outline: none;
    width: 5%;
    height: 100%;

    background-color: #CC332B;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.velocity-slider > .label {
    font-size: xx-large;
    margin-bottom: 10px;
}